body {
margin : 0 ;
padding : 0 ; 
background : #000 ;
text-align : center;
font-size : 0.9em;
color : #575449;
font-family : "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
  

/*  SITE
********************************************************************/
 
#site { 
text-align : left  ;
padding :  0 ; 
background : #fff ; 
}
     
     
/*  HEADER
********************************************************************/
   

#header {
position : relative ; 
height : 154px;
background : url(img/header.jpg);
}


/*  HEADER >> TITRE DU SITE >> H1
********************************************************************/

#bigtitle {
position : absolute ;
top : 35px ; 
left : 20px ; 
margin : 0 0 0 0;
padding : 0 0 0 0; 
width : 500px;
height : 55px;
/* background : url(img/logo.png); */   
}
#bigtitle h1 {
color: #FFFFFF;
font-family: Georgia, "Time New Roman";
font-size: 2.4em;
margin : 0px 0px 5px 0px;
padding : 0px 0px 0px 0px;
}

#bigtitle small {
	font-style: italic;
	font-size: 0.8em;
	color: #DDDDDD;
}

#bigtitle h1 a {
color: #FFFFFF;
}
#bigtitle small a{
	color: #DDDDDD;
}
   
/*  HEADER >> MENU PRINCIPAL
********************************************************************/
   
   
   
#menu {
position : absolute ; 
top : 130px;
left : 25px; 
}
	
	
#menu  ul{
list-style : none ;
margin : 0; 
padding : 0 ;
}


#menu  li{
float : left ;
text-transform : uppercase ; 

}

#menu  li a{
margin : 0 ; 
padding : 0 10px 0 0 ; 
text-decoration : none ;    
color : #AFA439 ;
font-weight : bold ;
}

#menu  li a:hover {
color : #fff ;
}
	


/*  CONTENT
********************************************************************/

#content {
overflow : auto ;
left: 20px;
top: 20px;
padding : 0;
background-color:#FFFFFF; 
}
	
	
/*  CONTENU
********************************************************************/	
	
div.onglet {
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border-right: dashed 1px #779339; /* or dotted */
	width: 400px;
}

#content h2 {
color : #6F6714;
font-size : 1.4em;
margin : 2px 0px 5px 0px;
padding : 0px;
text-transform : uppercase ; 
}


/* #content h2 + p {
color : #D89E08;
margin : 0; 
padding : 0 0 17px 0; 
font-weight : bold; 
font-size : 110%; 
border-bottom : 1px dotted #6F6714; 
} */

#content a {
color : #759111; 
text-decoration : none ; 
}

#content a:hover {
text-decoration : underline; 
}

#content p:last-child  {
color : #C8901B
}
#content input,select,label {
	/*float: left;*/
	margin-bottom: 5px;
	margin-right: 5px;
}
#content label {
	margin-right: 10px;
	clear: both;
}
#content input.btn {
	color:#C0C793; 
	font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	background-color:#48472B; 
	border: 1px solid #FFF;
	margin: 0px;
	/* font-variant: small-caps; */
	/*border-color: #696 #363 #363 #696; */
	filter:progid:DXImageTransform.Microsoft.Gradient 
	(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
} 
#content input.btn:hover { 
	color:#DDD; 
	background-color: #636246;
	border: 1px solid #C8901B; 
	cursor: hand;
}
#content input.btno {/* boutons d'options*/
	color:#48472B; 
	font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	background-color:#C0C793; 
	border: 1px solid #FFF;
	margin: 0px;
	/* font-variant: small-caps; */
	/*border-color: #696 #363 #363 #696; */
	filter:progid:DXImageTransform.Microsoft.Gradient 
	(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
} 
#content input.btno:hover { 
	color:#636246; 
	background-color: #C0C793;
	border: 1px solid #C8901B; 
	cursor: hand;
}

/*  CONTENU >> POST
********************************************************************/	


.post {
padding : 0 0 20px 0;
 }   



/*  FOOTER
*******************************************************************/ 
   
#footer { 
min-height :271px;
background : #000 url(img/footer.jpg);
text-align : left ; 
padding : 20px 0 0 0;  
}


#footer p { 
color : #C8901B; 
}

#footer img { 
float : left ;
margin : 0 0 0 -70px ; 
}


#footer a { 
color : #C8901B;
text-decoration : none ;  
}

#footer a:hover { 
text-decoration : underline ;  
}

#footer h2 {
font-size : 1.6em ;
margin : 0 ;
padding :  0 ; 
color : #6F6714 ; 
font-weight : normal;  
}
   
 
 
 
 /*  FOOTER >> SIDE
********************************************************************/
   
   
#footer .side {
width : 220px ;
float  : left ;
padding :  0 0 0 20px ;
text-align : justify; 
}
	
#footer .side  ul{
list-style : none ; 
margin : 5px 0 15px 0 ; 
padding : 0; 
}
 
#footer .side  li{
margin : 0 ; 
padding : 0 0 5px 0; 
}
  
  
#footer .side  li a{
color : #C8901B ;
text-decoration : none ;
}

#footer .side  li:first-child a{
border-top: 0; 
}


#footer .side  li a:hover{
color : #C8901B 
}


#footer .side  p{
margin : 5px 0 0 0 ; 
padding : 0 45px 0  0 ;  
}


#footer .side  form {
margin : 0;
padding : 5px 0 0 0;
height : 50px;  
}


#footer .side  input {
float : left ; 
}


#footer .side  .champ {
width : 115px ;
height : 20px;
border : 0; 
margin : 0;
padding : 0;   
}


#footer .side  .recherche {
background : url(img/search-ok.jpg);
width : 23px;
height : 20px;
border : 0;
margin : 0 0 0 5px;
padding : 0; 
 } 


#footer #copy {clear : left ;
padding : 0 0 0 20px }